@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    margin: 0 5rem ;

}

@media screen and (max-width: 650px) {
    .body{
        margin: 0 1rem ;
    }
    .card{
        min-width: 400px;
    }
    .card h1{
        text-wrap: wrap;
        font-size: 1rem;
    }
    .card p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .card{
        min-width: 350px;
    }
}